.header {
  background-color: rgb(235, 235, 235);
  height: 25vh;
  padding: 10vh 0px;
  margin: 0px;
  width: 100%;
  /* border: 1px solid green; */
}
.header h2 {
  /* border: 1px solid green; */
  font-style: italic;
  text-align: left;
  padding: 0 0 0 8%;
  font-size: 32px;
  color: rgb(40, 40, 40);
}
.header p {
  /* border: 1px solid orange; */
  text-align: right;
  padding: 0 8% 0 0;
  /* padding-right: 30px; */
  font-style: italic;
  color: rgb(169, 169, 169);
  font-size: 16px;
  font-weight: 500;
}
.text-h2 {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
  margin: 60px 0 40px !important;
}
.header-table {
  background-color: rgb(235, 235, 235);
  font-style: italic;
  padding: 15px 0px;
}
.button-table {
  background-color: rgb(235, 235, 235);
  font-style: italic;
  padding: 15px 0px;
  margin-top: 50px;
}
.button-table button {
  border: none;
  background-color: rgb(235, 235, 235);
  padding: 10px 20px;
  color: rgb(90, 90, 90);
  font-style: italic;
}
.button-table button:hover {
  border: 1px solid black;
  color: black;
  font-style: italic;
}
