.header {
  background-color: rgb(235, 235, 235);
  height: 25vh;
  padding: 0;
  margin: 0;
}
.header h2 {
  /* border: 1px solid green; */
  font-style: italic;
  text-align: left;
  padding: 0 0 0 8%;
  font-size: 32px;
  color: rgb(40, 40, 40);
}
.header p {
  /* border: 1px solid orange; */
  text-align: right;
  padding: 0 8% 0 0;
  /* padding-right: 30px; */
  font-style: italic;
  color: rgb(169, 169, 169);
  font-size: 16px;
  font-weight: 500;
}
